.container {
  display: flex;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 2rem;
  min-height: 50vh;
}
.img {
  width: 30vw;
  max-width: 300px;
  margin: 2rem;
  border-radius: 1rem;
}
.aboutMe {
  margin-top: 2rem;
  text-align: justify;
  max-width: 600px;
}
